# Created by https://www.toptal.com/developers/gitignore/api/zig
# Edit at https://www.toptal.com/developers/gitignore?templates=zig

### zig ###
# Zig programming language

zig-cache/
zig-out/
build/
build-*/
docgen_tmp/
docs/

# End of https://www.toptal.com/developers/gitignore/api/zig

# Default output file
output.wav

# Test coverage files
kcov-output
